.btn {
    text-decoration: none;
    text-transform: capitalize;
    @include fontRobotoRegular;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 500ms;

    &-round {
        border-radius: .4rem;
    }

    &--pink {
        background-color: $color-pink;
        color: $color-white;
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .2);
    }

    &--pink:hover {
        background-color: $color-pink-darker;
    }
}

.btn-slider {
    position: absolute;
    top: 40%;
    font-size: 8rem;
    color: $color-white;
    padding: 1rem 4rem;
    background-color: rgba($color-text-dark, .05);

    &--left {
        left: 1%;
    }

    &--right {
        right: 1%;
    }
}

.btn-form {
    text-transform: capitalize;
    @include fontRobotoMedium;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 500ms;
    border: .1rem solid $color-gray;
    cursor: pointer;

    &--white {
        background-color: $color-white;
        color: $color-pink;
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .2);
    }

    &--white:hover {
        color: $color-pink-darker;
    }
}