.btn {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    @include fontRobotoRegular;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 500ms;

    &-round {
        border-radius: .4rem;
    }

    &-circle {
        border-radius: 100%;
    }

    &--pink {
        background-color: $color-pink;
        color: $color-white;
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .2);
    }

    &--pink:hover {
        background-color: $color-pink-darker;
    }

    @include respond(tab-port) {
        font-size: 1.3rem;
        padding: .8rem 1.3rem;
    }

    @include respond(phone) {
        font-size: 1rem;
        padding: .6rem 1rem;
    }
}

.btn-burger {
    height: 6rem;
    width: 6rem;
    background-color: rgba($color-primary-light-2, 1);
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;

    &__line {
        height: .2rem;
        width: 50%;
        background-color: $color-white;
        position: relative;

        &,
        &::before,
        &::after {
            transition: all 200ms;
        }

        &::before,
        &::after {
            content: '';
            height: .2rem;
            width: 100%;
            background-color: $color-white;
            position: absolute;
            z-index: 10;
        }

        &::before {
            top: -.9rem;
        }

        &::after {
            bottom: -.9rem;
        }
    }

    &:hover &__line {
        &::before {
            top: -.6rem;
        }

        &::after {
            bottom: -.6rem;
        }
    }

    @include respond(phone) {
        display: flex;
    }
}

#burger {
    display: none;

    &:checked + .nav {
        display: flex;
    }
}

.btn-slider {
    position: absolute;
    top: 32.5%;
    font-size: 8rem;
    color: $color-white;
    padding: 1rem 4rem;
    background-color: rgba($color-text-dark, .05);

    &--left {
        left: 1%;
    }

    &--right {
        right: 1%;
    }

    @include respond(tab-port) {
        pad: .5rem 3rem;
    }
}

.btn-form {
    text-transform: capitalize;
    @include fontRobotoMedium;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: all 500ms;
    border: .1rem solid $color-gray;
    cursor: pointer;

    &--white {
        background-color: $color-white;
        color: $color-pink;
    }

    &:hover {
        transform: translateY(-.2rem);
        box-shadow: 0 .8rem 1.2rem rgba($color-black, .2);
    }

    &--white:hover {
        color: $color-pink-darker;
    }
}