.form-subscribe {
    display: flex;
    align-items: center;

    &__group {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__input {
        height: 100%;
        width: 20rem;
        @include fontRobotoMedium;
        font-size: 1.5rem;
        color: $color-text-dark;

        border: none;
        border-bottom: .1rem solid $color-gray;

        margin-right: 1.5rem;
        padding: 0 .5rem;
        transition: all 400ms;

        &::-webkit-input-placeholder {
            color: $color-text-light-2;
        }

        &::-ms-input-placeholder {
            color: $color-text-light-2;
        }

        &:focus {
            outline: none;
        }

        &:focus:invalid {
            border-color: $color-warning;
        }
    }

    &__label {
        @include fontRobotoRegular;
        font-size: 1.2rem;
        color: $color-text-medium;

        position: absolute;
        top: 110%;
        left: 2%;
        transition: all 500ms ease-in;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: none;
        transform: translateY(-.4rem);
    }
}