@keyframes moveRightAndFadeOut {
    0% { transform: translateX(0); opacity: 1; }
    25% { transform: translateX(3rem); opacity: 0; }
    75% { transform: translateX(-3rem); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}