.section-famous-places {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: .1rem solid $color-gray;
}

.section-about {
    background-color: $color-bg;

    .container {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        max-width: 90%;
        @include fontRobotoRegular;
        font-size: 1.8rem;
        line-height: 1.7;
        color: $color-text-light-1;
    }

    @include respond(tab-port) {
        &__text {
            font-size: 1.6rem;
        }

        .row {
            justify-content: center;

            & > * {
                margin-bottom: 2.5rem;
            }
        }
    }

    @include respond(phone) {
        &__text {
            font-size: 1.6rem;
        }

        .row {
            justify-content: center;

            & > :not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
    }
}

.section-contact {
    background-color: $color-primary-light;

    .container {
        justify-content: space-between;
        align-items: center;
    }
}

.section-destinations {
    background-color: $color-bg;
    border-bottom: .1rem solid $color-gray;

    .container {
        flex-direction: column;
    }

    @include respond(phone) {
        .row {
            justify-content: center;
        }
    }
}

.section-subscribe {
    background-color: $color-white;
    border-bottom: .1rem solid $color-gray;
    
    .container {
        justify-content: space-between;
    }

    @include respond(tab-port) {
        .container {
            flex-direction: column;
            align-items: center;
        }
    }
}

.section-testimonials {
    background-color: $color-bg;

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .row > * {
        transition: all 500ms ease-in-out;
    }

    .row:hover > :not(:hover) {
        filter: blur(.3rem);
        transform: scale(.975);
    }

    .row:hover > :hover > .feedback {
        transform: translateY(-.5rem);
        filter: brightness(105%);
        box-shadow: 0 1.5rem 2rem rgba($color-black, .25);
    }

    @include respond(tab-port) {
        .row {
            justify-content: center;
        }
    }
}