.section-famous-places {
    display: flex;
    z-index: -1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $color-gray;
}

.section-about {
    background-color: $color-bg;

    .container {
        flex-direction: column;
        align-items: center;
    }

    &__text {
        max-width: 90%;
        @include fontRobotoRegular;
        font-size: 1.8rem;
        line-height: 1.7;
        color: $color-text-light-1;
    }
}