@mixin fontRobotoLight {
    font-family: $font-roboto, sans-serif;
    font-weight: 300;
}

@mixin fontRobotoRegular {
    font-family: $font-roboto, sans-serif;
    font-weight: 400;
}

@mixin fontRobotoMedium {
    font-family: $font-roboto, sans-serif;
    font-weight: 500;
}

@mixin fontRobotoBold {
    font-family: $font-roboto, sans-serif;
    font-weight: 700;
}

@mixin fontRobotoBlack {
    font-family: $font-roboto, sans-serif;
    font-weight: 900;
}


// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: $grid-sm) { @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: $grid-md) { @content };
    }

    @if $breakpoint == tab-land {
        @media (max-width: $grid-lg) { @content };
    }
}