$font-roboto: Roboto;

$color-primary-dark: #5031a4;
$color-primary-light : #653eb3;
$color-primary-light-2: #7449ca;

$color-white: #fff;
$color-black: #000;
$color-warning: #c83e3e;
$color-gray: #e1e1e1;
$color-pink: #fb4381;
$color-pink-darker: #f10a57;
$color-bg: #fafafa;
$color-bg-dark: #ebebeb;

$color-text-dark: #3e3e3e;
$color-text-medium: #505050;
$color-text-light-1: #777777;
$color-text-light-2: #d3cbe8;

$grid-xs: 320px;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;

$columns-count: 12;