.card {
    width: 95%;
    height: 40rem;
    cursor: pointer;
    position: relative;
    perspective: 80rem;
    margin: 0 auto 2rem;
    
    &__side {
        height: 100%;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1s ease-in-out;
        backface-visibility: hidden;
        border: 1px solid $color-bg-dark;
        box-shadow: 0 1rem 1.5rem rgba($color-black, .2);

        &--front {
            background-color: $color-white;
        }

        &--back {
            background-color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: rotateY(180deg);
        }
    }

    &:hover {
        z-index: 10;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__img-box {
        width: 100%;
        height: 20rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        &--1 {
            background-image: url(../img/destination-1.jpg);
        }

        &--2 {
            background-image: url(../img/destination-2.jpg);
        }

        &--3 {
            background-image: url(../img/destination-3.jpg);
        }

        &--4 {
            background-image: url(../img/destination-4.jpg);
        }

        &--5 {
            background-image: url(../img/destination-5.jpg);
        }

        &--6 {
            background-image: url(../img/destination-6.jpg);
        }
    }

    &__content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5rem;
    }

    &__desc {
        max-width: 90%;
        @include fontRobotoRegular;
        font-size: 1.5rem;
        line-height: 1.5;
        color: $color-text-light-1;
    }

    &__price {
        @include fontRobotoMedium;
        font-size: 3.5rem;
        color: $color-primary-light;
    }

    &__text {
        max-width: 80%;
        @include fontRobotoRegular;
        font-size: 1.5rem;
        line-height: 1.6;
        color: $color-text-light-1;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}