$font-roboto: Roboto;

$color-primary-dark: #5031a4;
$color-primary-light : #653eb3;

$color-white: #fff;
$color-black: #000;
$color-pink: #fb4381;
$color-bg: #fafafa;

$color-text-dark: #3e3e3e;
$color-text-light: #777777;
$color-text-lighter: #d3cbe8;

$grid-xs: 320px;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;

$columns-count: 12;